<link rel="stylesheet" href="/css/user_sign_in.css">
<h2>Employee <br> Sign-In</h2>

<form action="/users/create-session" method="POST">
    <div id="email-div"><label for="email">Enter Email :</label>
        <input type="email" name="email" id="email" placeholder="Enter your Email ..." requird /></div>
        
        <div><label for="password">Enter Password :</label>
        <input type="password" id="password" name="password" placeholder="Password ..." requird /></div>
        <div>
        <button type="submit" value="Sign Up">Submit</button>
    </div>
</form>